@page "/accounts"
@inject IAccountService AccountService

<h3>Dina konton</h3>

@if (accounts == null || !accounts.Any())
{
	<p>Inga konton skapade ännu.</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Namn</th>
				<th>Typ</th>
				<th>Valuta</th>
				<th>Saldo</th>
				<th>Senast uppdaterad</th>
			</tr>
		</thead>
	
	<tbody>
		@foreach (var acc in accounts)
		{
			<tr>
				<td>@acc.Name</td>
				<td>@acc.AccountType</td>
				<td>@acc.Currency</td>
				<td>@acc.Balance</td>
				<td>@acc.LastUpdated.ToString("yyyy-mm-dd HH:mm")</td>
			</tr>
		}
	</tbody>
	</table>
}

@code {
	private List<IBankAccount> accounts = new();

	protected override void OnInitialized()
	{
		accounts = AccountService.GetAccounts();
	}
}
